/* Estilos generales para el cuerpo de la página */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f0f0f0;
  color: #333;
  line-height: 1.6;
}

/* Contenedor principal */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}


.carrito-h2{
  color: #007bff;
}

/* Estilos para el encabezado */
header {
  background-color: #FFD700;
  padding: 10px 0;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

header img {
  height: 60px;
  margin-left: 50px; /* coloca un margen al lado izquierdo  */
}

/* Estilos para la barra de navegación */
nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end;
}

nav ul li {
  margin-right: 10px;
}

/* Estilos para los botones de navegación */
.barra_navegacion {
  background-color: #007bff; /* Azul */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.barra_navegacion:hover {
  background-color: #ff0000; /* Rojo en hover */
  transform: scale(1.05); /* Escalado al 105% */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

.barra_busqueda {
  display: flex;
  align-items: center;
}

.barra_busqueda input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-right: 10px;
  flex-grow: 1;
}

.barra_busqueda button {
  background-color: #007bff; /* Azul */
  color: #fff;
  border: none;
  padding: 10px ;
  cursor: pointer;
  font-size: 14px;
  text-transform: uppercase;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  border-radius: 4px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.barra_busqueda button:hover {
  background-color: #ff0000; /* Rojo en hover */
  transform: scale(1.05); /* Escalado al 105% */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el formulario de pago */
.formulario-pago {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  margin: 0 auto;
  max-width: 400px;
}

.formulario-pago h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color: #333;
}

.formulario-pago button {
  background-color: #007bff; /* Azul */
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  text-transform: uppercase;
  border-radius: 4px;
  transition: background-color 0.3s, transform 0.2s, box-shadow 0.2s;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.formulario-pago button:hover {
  background-color: #ff0000; /* Rojo en hover */
  transform: scale(1.05); /* Escalado al 105% */
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2);
}

/* Estilos para el pie de página */
.footerf {
  background: linear-gradient(90deg, #f60202d6 50%, #2f02f7 50%);
  text-align: center;
  padding: 10px 0;
  color: white;
  position: relative;

  font-size: 24px;
  text-align: center;
  color: #f9f9f9;
  text-shadow: 0 0 5px rgb(247, 251, 247), 0 0 10px red, 0 0 15px rgb(221, 106, 12);
}




/* Estilos para el botón de regreso */
.carrito-return-button {
  display: block;
  text-align: center;
  margin: 20px auto;
  font-size: 24px;
  color: #007bff;
  text-decoration: none;
}

.carrito-return-button:hover {
  color: #ff0000; /* Rojo en hover */
}

/* Media queries para responsividad */
@media screen and (max-width: 768px) {
  header {
      flex-direction: column;
      align-items: center;
  }

  header img {
      margin-bottom: 10px;
  }

  nav ul {
      flex-direction: column;
      align-items: center;
  }

  nav ul li {
      margin: 5px 0;
  }

  .formulario-pago {
      max-width: 100%;
      margin-bottom: 20px;
  }
}
